.jumbotron {
    font-size: 150px;
    background-attachment: fixed;
    background-image: url(Chess\ Jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px black;
    
}

h1 {
    color: lightgray;
    text-align: center;
    

}

.display-4 {
    font-family: 'Bowlby One SC';
}

h2 {
    color: black;
    text-align: center;
    font-size: 45px;
    font-family: 'Bowlby One SC';
}

h3 {
    text-align: center;
    font-size: 35px;
}

h4 {
    text-align: center;
}
